/* components/Dashboard/Dashboard.module.css */
.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
  }
  
  .sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
  }
  
  .site-layout {
    margin-left: 200px;
  }
  
  .site-layout-background {
    background: #fff;
  }
  
  .site-layout .site-layout-background {
    min-height: 100vh;
  }
  .welcomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px 0;
    background-color: #f0f2f5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin: -15px 0;
    margin-top: 10px;
  }
  
  .welcomeMessage {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #001529;
  }
  
  .username {
    color: #1890ff;
    font-weight: bold;
  }
  .content {
    flex: 1;
  }
  .site-layout-background {
    background-color: white;
  }
  .tableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }